<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      Our <a href="http://localhost.com:3000#about"><em>Mission 
      Statement</em></a> will tell you more about why we are here to help you succeed in your business.
      Questions about our mission?
      <a href="http://localhost.com:3000#about">Feedback</a>.
    </p>
