<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Have a question? 
      <a href="#">help
      section</a>.
      Please click the link to submit feedback 
      <a href="#"><em>Click here
      </em></a>.
    </p>
